.main-chat {
  height: 100vh;
  width: calc(100vw - 300px);
  margin-left: 300px;
  &__mainheader{
    height: 86px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #eeeeee;
    &__groupinfomation{
      padding-left: 40px;
      &__groupname{
        padding: 35px 0px 15px;
        font-size: 20px;
        color: #333333;
      }
      &__groupmember{
        padding-bottom: 1px;
        font-size: 12px;
        color: #999999;
      }
    }
    &__edit{
      border: solid 1px #38aef0;
      padding: 0px 20px 0px;
      margin: 28px 40px 0px 0px;
      height: 40px;
      line-height: 40px;
      color: #38aef0;
      text-decoration: none;
    }
  }
  &__maincontents{
    height: calc(100vh - 87px);
    background-color: #fafafa;
    position: relative;
    &__messeageinfomation{
      display: flex;
      justify-content: flex-start;
      padding: 46px 0px 10px 40px;
      &__username{
        font-size: 16px;
        font-weight: bold;
        color: #434A54;
      }
      &__date{
        font-size: 12px;
        color: #999999;
        padding-left: 10px;
      }
    }
    &__messages{
      font-size: 14px;
      color: #434a43;
      padding-left: 40px;
    }
    &__frombox{
      height: 90px;
      width: calc(100vw - 300px);
      position: absolute;
      right: 0px;
      bottom: 0px;
      left: 0px;  
      background-color: #ddd;
      &__text{
          position: absolute;
          top: 20px;
          left: 40px;
          bottom: 20px; 
          right: 115px;
          height: 50px;
          width: calc(100vw - 545px);
          color: #434A54;
          font-size: 16px;
          padding: 0 40px 0 10px;
          text-decoration: none;
        &__image{
            position: absolute;
            top: 20px;
            bottom: 20px; 
            right: 155px;
            line-height: 55px;
            padding-right:10px;
            font-size: 20px;
            height: 50px;
            
          &__file{
            display: none;
          }
        }
      }
      &__submit{
          background-color: #38aef0;
          position: absolute; 
          top: 20px;
          right: 40px;
          bottom: 20px;
          width:  90px;
          height: 50px;
          color: #ffffff;
          font-size: 16px;
          line-height: 50px;
      } 
    }
  }
}